.loguito{
    width: 70%;
}
.contenido{
    margin-top: 4rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.galeria1{
    text-align: center;
}
.galeria1 h1{
    margin: 0.5rem 0;
}
.galeria{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card2{
    margin: 0.5rem;
    text-align: center;
}
.prese {
    text-align: center;
    width: 25%;
}
.fotoperfil{
    margin: 2px auto;
    width: 70%;
    border-radius: 50%;
}

.fa-linkedin{
    color: #0072b1;
}

.fa-instagram{
    color: #C13584;
}
.ff{
    letter-spacing: 0.5rem;
}
.piesito{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    word-spacing: 0.5rem;
}